<%= render partial: '/layouts/navigation-app' %>

<%= link_to 'Back', engines_path %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1 class = "text-center">Ajouter une nouvelle machine</h1>
          <%= render 'form', engine: @engine %>
        </div>
    </div>
</div>