<%= render partial: '/layouts/navigation-app' %>

<div class="mod mod-engines-edit">
     <div class="container-fluid">

        <%# Row Go Back %>
        <div class="row go-back">
            <div class="col-md-9">
                <%= link_to engines_path, class: 'action-btn__grey' do %>
                <%= fa_icon 'chevron-left' %> Retour
                <% end %>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-12">
                <%= render 'form', engine: @engine %>
            </div>
        </div>
    </div> 
</div>
