<%= month_calendar engines: @engines, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, engines| %>
<div class="card-calendar__day-date">
	<%= date.strftime('%d') %>
</div>
<% end %>