<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<!-------------Module Board------------->
<div class="mod mod-board-index">
	<div class="container-fluid">
		<!--Row heading-->
		<div class="row heading">
			<div class="col-md-12">
				<h1>Tableau de bord</h1>
			</div>
		</div>
		<!--Row info-->
		<div class="row mod-board_cards">
			<div class="col-md-4">
				<div class="card-number-txt">
					<span class="card-number-txt__exerg"><%= @engines.length() %></span>
					<div class="card-number-txt__txt">machines identifiées dans le parc d'exploitation</div>
					<div class="card-number-txt__link">
						<a href="<%= engines_path %>">Accéder au parc d'exploitation<i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>