<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<!-------------Module Board------------->
<div class="mod mod-board-index">
	<div class="container-fluid">
		<!--Row heading-->
		<div class="row heading">
			<div class="col-md-12">
				<h1>Tableau de bord</h1>
			</div>
		</div>
		<!--Row info-->
		<div class="row mod-board_cards">
			<div class="col-md-4">
				<div class="board-index__card-number">
					<span><%= @engines.length() %></span>
					<div>machines identifiées dans le parc d'exploitation</div>
				</div>
			</div>
		</div>
	</div>
</div>