<div style="margin-bottom:20px;">
    <%= issue.name %> |
    <% if issue.engine %>
    <%= issue.engine.name %>
    <% end %>
    <%= link_to 'Mettre à jour', edit_issue_path(issue), class: "action-btn__small white" %>
</div>
