<%###### Start Module Index Issues #####%>
<section class="mod mod-issues-index">
  <div class="container-fluid">

    <%# Message to display when created %>
    <div class="row" id="messageIssue" style="display:none;">
      <div class="col-md-9">
        <div class="success-adding">
          Incident <span id="nameIssue"></span> enregistré avec succès
        </div>    
      </div>
    </div>

    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-12 p0">
        <div class="d-flex justify-content-between align-items-center">
          <h1>
            Incidents
          </h1>
        </div>      
      </div>
    </div>
  </section>