<%#-------Module New Issue-------%>
<div class="mod mod-tag-new">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Enregistrer un incident</h2>
                <div>
                    <%= render 'form', issue: @issue %>
                </div>
            </div>
        </div>
    </div>
</div>