<div class="sp-list-actions__item">
    <div class="d-flex align-items-center">
        <div class="sp-list-actions__item-info name">
            <%= type.name %>
        </div>
        <div class="sp-list-actions__item-actions">  
            <%= link_to 'Supprimer', { controller: "types", action: "destroy", id: type.id }, data: { confirm: 'Êtes-vous sûr ?' }, method: :delete, remote: :true, class: "action-btn__small white issue-category-delete"  %>       
        </div>
    </div>
</div>
