<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>


<%#-------Module Show User-------%>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>



<img src="<%= current_user.avatar %>">