<section class="mod-home" style="background-image:url(<%= asset_path 'Background-Abstract.svg' %>);">
	<div class="prov-nav">
		<%= link_to 'Parc de machines', engines_path %>
	</div>

	<div class="mod-home__bkg"></div>
	<div class="mod-home__content">
		<h1>Bienvenue sur<br><span>MaNa®</span></h1>
		<p>Votre application pour gérer l'ensemble du parc de machines<br> sur votre centre d'exploitation.</p>
	</div>
</section>