<%= render partial: '/layouts/navigation' %>

<!--Module HomePage App-->
<div class="devise-msg connect">
	<div class="devise-msg__close"><i class="fas fa-times"></i></div>
	<p id="notice"><%= notice %></p>
</div>

<section class="mod-home" style="background-image:url(<%= asset_path 'Scattered-Forcefields.svg' %>);">
	<div class="mod-home__bkg"></div>
	<div class="mod-home__content">
		<h1><span>MaNa®</span></h1>
		<p>Votre application pour gérer l'ensemble du parc machines<br> sur votre centre d'exploitation.</p>
	</div>
</section>