<section class="mod-home">
	<div class="mod-home__content">
		<h1>Bienvenue sur<br><span>MaNa®</span></h1>
		<p>Votre application pour gérer l'ensemble de votre parc de machines<br> sur votre centre d'exploitation.</p>
	</div>
</section>