<h1>Editing Intervention Category</h1>

<%= render 'form', intervention_category: @intervention_category %>

<%= link_to 'Show', @intervention_category %> |
<%= link_to 'Back', intervention_categories_path %>
