<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Add Company User------- %>
<div class="mod mod-index-rooms">
  <div class="container-fluid">
    <%# Row heading %>
    <div class="row">
      <div class="col-md-12">
        <h1>Ajouter un utilisateur</h1>
      </div>
    </div>
  </div>
</div>