<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Edit Company------- %>
<div class="mod mod-edit-company">
  <div class="container-fluid">
    <%# Row heading %>
    <div class="row">
      <div class="col-md-12">
        <h1>Modifier <%= @company.name %></h1>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= render 'form', company: @company %>
        </div>
    </div>
    <div class="row">
        <%= link_to 'Show', @company %>
    </div>
  </div>
</div>