<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Edit Tag-------%>
<div class="mod-tag-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Modifier la famille</h2>
                <div>
                    <%= render 'form', tag: @tag %>
                </div>
            </div>
        </div>
    </div>
</div>