<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<%#-------module Index Tag-------%>
<section class="mod mod-tags-list">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Types de machines</h1>
				<table id="tagIndex">
				  <tbody>
				    <%= render @tags %>
				  </tbody>
				</table>
				<div id="newTag">
					<%= link_to 'Ajouter une famille', tag_new_path, remote: true %>
				</div>				
			</div>
		</div>

		<div class="row" style="margin-top:100px;">
			<div class="col-md-12">
				<div class="form-add-tag">
					<form>
						<div class="group">
							<label>Nom de la famille</label>
							<input type="text" id="tag_name" name="tag[name]">
						</div>	
						<div class="group">
							<label>Choix de la couleur</label>
							<input type="color" id="tag_tag_color" name="tag[tag_color]">
						</div>	
						<div class="action">
							<input type="submit" value="Ajouter" name="commit">
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</section>