<div style="margin-top:200px;">
	<div class="container">
    	<h2>Créer un nouvelle famille</h2>


        <div>
            <%= simple_form_for @tag do |f| %>
              <%= f.input :name %>
              <%= f.submit "Soumettre", class: 'btn btn-lg btn-primary float-right' %>
            <% end %>
        </div>
    </div>
</div>