<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module New Tag-------%>
<div class="mod mod-tag-new">
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Créer un nouvelle famille</h2>
                <div>
                    <%= render 'form', tag: @tag %>
                </div>
            </div>
        </div>
    </div>
</div>