.mod-sign-in {
	height: calc(100vh - 80px);
}

.mod-sign-in__inner {
	padding: 40px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
}
