.mod-index-issues__top-actions a {
    margin-left: 16px;
}

.selected-issues {
    display: none;
    position: sticky;
    top: 50px;
    padding: 16px;
    box-shadow: 0px 12px 24px rgb(0 40 107 / 10%);
}