.card-number-txt {
    background: var(--light-grey-color);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 0px rgba(184, 184, 184, 1);
}

.card-number-txt__exerg {
    color: var(--success-color);
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
}

.card-number-txt__txt {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-number-txt__link {
    font-size: 10px;
    text-align: right;
}

.card-number-txt__link a {
    text-decoration: underline;
}

.card-number-txt__link i {
    margin-left: 5px;
    transition: all .2s ease-out;
}

.card-number-txt__link:hover i {
    transform: translateX(3px);
}

.card-listing {
    background: var(--light-grey-color);
    box-shadow: 0px 0px 11px 0px rgba(184, 184, 184, 1);
    padding: 30px;
    border-radius: 10px;
}

.card-listing__heading {
    margin-bottom: 10px;
}

.card-listing__list {
    max-height: 100px;
    overflow: scroll;
}

.card-listing__heading {
    font-weight: 600;
    font-size: 18px;
}

.card-listing__name {
    font-size: 12px;
}
