/*---Company show row---*/
.mod-show-company__row-company {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 16px;
}

.mod-show-company__row-company ul {
    list-style: none;
}

.mod-show-company__row-company ul li {
    font-size: 14px;
}

.mod-show-company__row-company #map {
    width: 500px;
    height: 300px;
}

/*---User list row---*/
.mod-show-company__users-encart {
    margin-top: 50px;
}

.mod-show-company__users-encart h2 {
    margin-bottom: 20px;
}

.mod-show-company__users-encart h2 span {
    font-size: 18px;
    font-weight: 500;
}

.mod-show-company__users-list {
    padding: 15px 20px;
}

.mod-show-company__user-actions {
    margin-top: 30px;
}

.form-group.user_company_id {
    visibility: hidden;
}