/*---Heading section---*/
.mod-show-engine__heading {
    border: 1px solid var(--border-color);
    padding: 20px 15px;
    border-radius: 8px;
}

.mod-show-engine__heading-title {
    margin-right: 40px;
}

.mod-show-engine__heading-tag {
    border-radius: 5px;
    padding: 0 8px;
}

.mod-show-engine__heading-tag a,
.mod-show-engine__heading-tag a:hover {
    color: var(--white-color);
    text-decoration: none;
    font-size: 25px;
    padding: 0 10px;
}

.mod-show-engine__heading-tag i {
    color: var(--white-color);
    font-size: 25px;
}

.mod-show-engine__heading-infos {
    margin-top: 20px;
}

.mod-show-engine__heading-info-item {
    font-weight: 300;
}

.mod-show-engine__heading-info-item span {
    font-weight: 500;
}

/*---Engine section---*/
.mod-show-engine-section {
    padding: 20px 15px;
    margin-top: 30px;
}

.mod-show-engine-section > span {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
    display: block;
}

.mod-show-engine__more-txt {
    padding: 16px;
    border-radius: 8px;
    background: var(--light-grey-color);
}

.mod-show-engine__more-txt span {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.mod-show-engine__more-txt {
    font-size: 14px;
}

/*---Engine Dates---*/
.mod-show-engine__date {
    flex: 0 0 48%;
}

.mod-show-engine__date span {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
    display: block;
}

.mod-show-engine__date span em {
    font-weight: 500;
    font-size: 16px;
}

.mod-show-engine__date-exerg {
    font-size: 32px;
    padding: 8px 20px;
    border-radius: 8px;
}

.mod-show-engine__date-exerg i {
    opacity: .4;
    margin-right: 8px;
}

.mod-show-engine__date.start .mod-show-engine__date-exerg {
    background: var(--success-color);
    color: var(--white-color);
}

.mod-show-engine__date.end .mod-show-engine__date-exerg {
    background: var(--alert-color);
}