.mod-onboarding {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0px;
}

.mod-onboarding:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: #fff;
    opacity: .5;
}

.mod-onboarding__inner {
    min-height: calc(100vh - 180px);
}

.mod-onboarding__action {
    margin-top: 40px;
}

.mod-onboarding__action span {
    display: inline-block;
    cursor: pointer;
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 30px;
    background: var(--main-color);
    color: var(--white-color);
    padding: 6px 20px;
    transition: all .2s ease-out;
}

.mod-onboarding__action span:hover {
    color: var(--main-color);
    background: var(--white-color);
}

.mod-sign-in__inner {
    width: 100%;
    background: var(--white-color);
    padding: 40px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
}

.mod-sign-in__heading h2 {
    margin-bottom: 30px;
    margin-top: 10px;
}

.mod-sign-in__heading i {
    color: var(--main-color);
    font-size: 45px;
}

.mod-wait-screen__load {
    height: calc(100vh - 160px);
}

.mod-wait-screen__txt {
    font-size: 20px;
    margin-top: 30px;
}