.mod-sign-in {
	height: calc(100vh - 80px);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mod-sign-in:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: #fff;
	opacity: .5;
}

.mod-sign-in__inner {
	background: var(--white-color);
	padding: 40px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.41);
}
