.mod-board_cards {
    margin-top: 40px;
}

.card-number-txt {
    position: relative;
    background: var(--white-color);
    padding: 40px 30px;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0px 0px 11px 0px rgba(184, 184, 184, 1);
}

.card-number-txt__exerg {
    color: var(--success-color);
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
}

.card-number-txt__txt {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-number-txt__link {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 12px;
    text-align: right;
}

.card-number-txt__link a {
    text-decoration: underline;
}

.card-number-txt__link i {
    margin-left: 5px;
    transition: all .2s ease-out;
}

.card-number-txt__link:hover i {
    transform: translateX(3px);
}

.card-listing {
    background: var(--white-color);
    box-shadow: 0px 0px 11px 0px rgba(184, 184, 184, 1);
    padding: 30px;
    border-radius: 10px;
}

.card-listing__heading {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}

.card-listing__list {
    max-height: 100px;
    overflow-y: scroll;
    padding-right: 20px;
}

.card-listing__list::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--light-grey-color);
}

.card-listing__list::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px;
    background-color: var(--light-grey-color);
}

.card-listing__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color);
}

.card-listing__item {
    font-size: 12px;
    padding: 3px 3px;
    transition: all .2s ease-out;
}

.card-listing__item:not(:last-child) {
    border-bottom: 1px solid var(--light-grey-color);
}

.card-listing__item:hover {
    background: var(--light-grey-color);
}

.card-listing__item-name {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-listing__item-link a i {
    margin-right: 3px;
    opacity: .5;
}

.card-listing__item:hover a i {
    opacity: 1;
    transition: all .2s ease-out;
}

.card-calendar {
    position: relative;
    background: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0px 0px 11px 0px rgba(184, 184, 184, 1);
}

.card-calendar__heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}
