/*-------Module Settings Index-------*/
.mod-settings-index__row {
    margin-bottom: 50px;
}

/*--Settings Row--*/
.settings-row {
    padding: 10px;
    border-radius: 10px;
}

.settings-row__list-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.settings-row__list-cards .settings-card {
    flex: 0 0 70%;
    margin-bottom: 24px;
}