.mod-show-engine__heading {
    border: 1px solid var(--border-color);
    padding: 20px 15px;
    border-radius: 8px;
}

.mod-show-engine__heading-title {
    margin-right: 40px;
}

.mod-show-engine__heading-tag {
    border-radius: 5px;
    padding: 0 8px;
}

.mod-show-engine__heading-tag a,
.mod-show-engine__heading-tag a:hover {
    color: var(--white-color);
    text-decoration: none;
    font-size: 25px;
    padding: 0 10px;
}

.mod-show-engine__heading-tag i {
    color: var(--white-color);
    font-size: 25px;
}