/*---General Styles Modules---*/
.mod {
	padding-left: 270px;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.mod h1 {
	color: var(--main-color);
}

.mod .row.heading {
	margin-bottom: 20px;
}
