/*---General Styles Modules---*/
.mod {
    position: relative;
    padding-left: 240px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.mod h1 {
    color: var(--main-color);
}

.mod .row.heading {
    margin-bottom: 50px;
}

.mod .row.heading .baseline {
    margin-top: 16px;
}