<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Index Rooms------- %>
<div class="mod mod-index-rooms">
    <div class="container">
        <%# Row heading %>
        <div class="row">
            <div class="col-md-12">
                <h1>Salles disponibles</h1>
            </div>
        </div>
        <%# Row Listing %>
        <div class="row">
            <% @rooms.each do |room| %>
            <div class="col-md-12">
                
                <%= room.name %>
                <%= link_to 'Supprimer', room, method: :delete, data: { confirm: 'Are you sure?' } %>
                
            </div>
            <% end %>
        </div>
        <%# Row features %>
        <div class="row">
            <div class="col-md-12">
                <%= link_to 'Ajouter une salle', new_room_path %>
            </div>
        </div>
    </div>
</div>