<%#-------Module New Room------- %>
<div class="mod mod-new-room">
    <div class="container">
        <%# Row heading %>
        <div class="row">
            <div class="col-md-12">
                <h1>Ajouter une salle</h1>
            </div>
        </div>
        <%# Row form %>
        <div class="row">
            <div class="col-md-12">
                <%= render 'form', room: @room %>
            </div>
        </div>
    </div>
</div>