/*----------------------------------------
********   Buttons Classes
----------------------------------------*/

/*--Button action Add--*/
.action-btn__add {
    text-decoration: none;
    border-radius: 5px;
    padding: 6px 18px;
    color: var(--white-color) !important;
    background: var(--success-color);
    transition: all .3s ease-out;
}

.action-btn__add i {
    margin-right: 8px;
    font-size: 14px;
}

/*--Button action Small--*/
.action-btn__small {
    text-decoration: none;
    font-size: 12px;
    background: var(--light-grey-color);
    border: 1px solid var(--main-color);
    border-radius: 2px;
    padding: 2px 6px;
    transition: all .3s ease-out;
}

.action-btn__small.white {
    background: var(--white-color);
    border: 1px solid var(--main-color);
}

/*--Button Grey action--*/
.action-btn__grey {
    background-color: var(--light-grey-color);
    color: var(--root-color);
    text-decoration: none;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 5px;
}

.action-btn__grey i {
    font-size: 12px;
}

/*
------------ @Media queries
*/
@media (min-width: 992px) {
    .action-btn__add:hover {
        text-decoration: none;
        background: var(--success-dark-color);
    }

    .action-btn__small:hover {
        text-decoration: none;
        background: var(--light-grey-color);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    }

    .action-btn__small.white:hover {
        background: var(--white-color);
    }

    .action-btn__grey:hover {
        background-color: var(--light-grey-color);
        color: var(--root-color);
        text-decoration: unerline;
    }
}