.simple-calendar .calendar-heading {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.simple-calendar .calendar-heading .calendar-title {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
}

.simple-calendar .calendar-heading a {
    position: absolute;
    font-size: 12px;
    text-decoration: none;
}

.simple-calendar .calendar-heading a:first-child {
    left: 0px;
}

.simple-calendar .calendar-heading a:last-child {
    right: 0px;
}

.simple-calendar table thead {
    background: var(--dark-color);
}

.simple-calendar table thead tr th {
    color: var(--white-color);
    font-weight: 500;
}

/*--Dafault classes---*/

.day {}

.wday-0 {}

.wday-1 {}

.wday-2 {}

.wday-3 {}

.wday-4 {}

.wday-5 {}

.wday-6 {}

.today {}

.past {}

.future {}

.start-date {}

.prev-month {}

.next-month {}

.current-month {}

.has-events {}