.simple-calendar .calendar-heading {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.simple-calendar .calendar-heading .calendar-title {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
    font-size: 18px;
}

.simple-calendar .calendar-heading a {
    position: absolute;
    top: calc(50% - 13px);
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.simple-calendar .calendar-heading a:first-child {
    right: 31px;
}

.simple-calendar .calendar-heading a:last-child {
    right: 0px;
}

.simple-calendar table {
    overflow: hidden;
    border-radius: 5px;
    border-collapse: separate;
    border: 1px solid var(--dark-color);
}

.simple-calendar table thead {
    background: var(--dark-color);
}

.simple-calendar table thead tr th {
    color: var(--white-color);
    font-weight: 500;
    border: 1px solid var(--dark-color);
}

.simple-calendar table tbody {
    border-collapse: collapse;
    border: 1px solid var(--dark-color);
}

.simple-calendar table tbody tr:nth-of-type(odd) {
    background: var(--white-color);
}

.simple-calendar table .day {
    position: relative;
    border: 0px;
    padding: 4px;
    transition: all .2s ease-out;
}

.simple-calendar table .day:not(.today, .prev-month, .next-month):hover {
    background: var(--light-grey-color);
}

.simple-calendar table .day .simple-calendar__day-date {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 11px;
    font-weight: 600;
    color: var(--main-color);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.simple-calendar table .today {
    background: var(--main-color);
}

.simple-calendar table .today .simple-calendar__day-date {
    color: #fff;
}

.simple-calendar__list-event {
    padding: 18px 0 0 0;
}

.simple-calendar__list-event a {
    font-size: 12px;
    display: block;
    overflow: hidden;
    width: 65px;
    white-space: nowrap;
    margin-bottom: 5px;
    background: var(--alert-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 2px;
    border-radius: 2px;
}

.simple-calendar__list-event a:hover {
    background: var(--alert-color);
    color: var(--white-color);
    text-decoration: none;
}

/*--Dafault classes---*/

.day {}

.wday-0 {}

.wday-1 {}

.wday-2 {}

.wday-3 {}

.wday-4 {}

.wday-5 {}

.wday-6 {}

.today {}

.past {}

.future {}

.start-date {}

.prev-month {}

.next-month {}

.current-month {}

.has-events {}