.card-issue {
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    border-radius: 4px;
    overflow: hidden;
    transition: all .2s ease-out;
}

.card-issue:hover {
    background: #f5f5f5;
}

.card-issue__name {
    font-size: 17px;
    font-weight: 600;
}

.card-issue__name hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.card-issue__engine {
    padding: 4px 16px;
    color: var(--white-color);
    background: var(--main-color);
}

.card-issue__content {
    padding: 16px;
}

.card-issue__datetime {
    font-size: 14px;
}

.card-issue__datetime span {
    font-weight: 300;
}

.card-issue__datetime span:first-child {
    margin-right: 16px;
}

.card-issue__desc {
    margin-top: 16px;
    padding: 8px;
    font-size: 14px;
    background: var(--light-grey-color);
    border: 1px solid var(--border-color);
}

.card-issue__desc span {
    font-weight: 600;
}

.card-issue__btn {
    margin-top: 16px;
}

.card-issue__btn .up-issue {
    background: var(--success-color);
    border: 1px solid var(--success-color);
    color: #fff !important;
    cursor: pointer;
}

.card-issue__btn .up-issue:hover {
    color: var(--success-color);
}

.issue-delete-checkbox {
    position: absolute;
    right: 8px;
    top: 6px;
    height: 20px;
    width: 20px;
    border: 1px solid var(--main-color);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-out;
    cursor: pointer;
}

.issue-delete-checkbox i {
    font-size: 10px;
    color: var(--success-color);
    opacity: 0;
    transition: all .2s ease-out;
}

.issue-delete-checkbox.selected {
    border-color: var(--success-color);
}

.issue-delete-checkbox.selected i {
    opacity: 1;
}