.card-engine-little {
    padding: 8px 16px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
}

.card-engine-little__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-engine-little__name {
    font-weight: 600;
}

.engine-card-little__categories {
    margin-right: 32px;
}

.engine-card-little__categories span, .engine-card-little__categories span:hover {
    color: var(--white-color);
    background: #3789c5;
    font-size: 12px;
    text-decoration: none;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
}

.engine-card-little__room span {
    font-size: 12px;
    color: var(--clear-grey-color);
}

.engine-card-little__room span i {
    margin-right: 3px;
}