/*------Layout classes-------*/
.form-lay1 {
    margin: 30px 0px;
}

.form-lay1__fields {
    margin-bottom: 20px;
}

.form-lay1__input.half {
    flex: 0 0 100%;
}

.form-lay1__input.full {
    flex: 0 0 100%;
}

.form-lay1__hidden-fields {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .form-lay1__input.half {
        flex: 0 0 48%;
    }
}

/*------Input styles-------*/
.form-lay1 form .form-lay1__input label {
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.form-lay1 form input[type="text"],
.form-lay1 form input[type="date"],
.form-lay1 form input[type="password"] {
    font-weight: bold;
    height: 40px;
    padding: 6px 15px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 16px;
    margin: 0px !important;
    font-family: "Nunito", sans-serif;
}

.form-lay1 form input[type="color"] {
    border: 0;
    background: none;
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    height: auto;
}

/*---Override for design engines*/
.form-lay1 form .form-lay1__input.start_date input[type="date"] {
    color: var(--success-color);
    background: rgba(var(--success-color-rgb), 0.1);
    font-size: 20px;
    height: 50px;
}

.form-lay1 form .form-lay1__input.end_date input[type="date"] {
    color: var(--error-color);
    background: rgba(var(--error-color-rgb), 0.1);
    font-size: 20px;
    height: 50px;
}

.form-lay1__input.color-input {
    display: flex;
    align-items: center;
}

.form-lay1__input.color-input label {
    margin-right: 16px;
}

.form-lay1__input.color-input .color-wrapper {
    position: relative;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
}

/*------Chosen styles-------*/
.form-lay1 form ul.chosen-choices {}

/*------Rich text styles-------*/
.form-lay1 form .trix-editor {}

/*------Action-------*/
.form-lay1__action {
    text-align: right;
}

.form-lay1__action input[type="submit"] {
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    background: var(--main-color);
    color: var(--white-color);
    border: none;
    text-transform: uppercase;
    padding: 8px 24px;
    border-radius: 8px;
}