.list-issues {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
}

.list-issues__heading {
    position: relative;
    z-index: 3;
    padding: 8px 16px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    -webkit-box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.23);
}

.list-issues__heading i {
    margin-right: 12px;
}

.list-issues__heading.unsolved {
    background: #d3810d;
}

.list-issues__heading.solved {
    background: #509534;
}

.list-issues__heading.archived {
    background: var(--dark-color);
}

.list-issues__table {
    padding: 16px 24px;

    /*height: 600px;*/
    overflow: auto;
}

.list-issues__table::-webkit-scrollbar {
    width: 2px;
}

.list-issues__table .card-issue:not(:last-child) {
    margin-bottom: 32px;
}