.pop-up-issue {
    position: relative;
    width: 40%;
    max-height: 80%;
    padding: 60px 30px 30px;
    border-radius: 16px;
}

.card-issue__status {
    position: absolute;
    top: 25px;
    left: 30px;
}

.card-issue__status span {
    display: block;
    color: var(--white-color);
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 30px;
}

.card-issue__status span.issue-progress {
    background: #d3810d;
}

.card-issue__status span.issue-resolved {
    background: #509534;
}

.pop-up-issue__heading {
    font-size: 30px;
    color: var(--main-color);
}

.pop-up-issue__engine {
    font-size: 22px;
}

.pop-up-issue__metas {
    margin: 24px 0;
}

.pop-up-issue__user {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.pop-up-issue__user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.pop-up-issue__user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop-up-issue__user span {
    line-height: 1;
    font-size: 14px;
}

.pop-up-issue__date span {
    font-weight: 300;
}

.pop-up-issue__date span:first-child {
    margin-right: 24px;
}

.pop-up-issue__info {
    padding: 8px;
    border: 1px solid var(--border-color);
}

.pop-up-issue__info-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.pop-up-issue__number {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 12px;
}

.pop-issue__validation-file {
    margin-top: 32px;
}

.pop-issue__validation-file a {
    text-decoration: none;
}

.pop-issue__validation-file i {
    font-size: 18px;
}