.sidebar-adding {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0px;
    bottom: 0px;
    width: 550px;
    background: var(--white-color);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    overflow: hidden;
    visibility: hidden;
    transform: translateX(550px);
    transition: all .2s ease-out;
}

.overlay-sidebar {
    content: "";
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
    background: var(--dark-color);
    opacity: .7;
    display: none;
}

.sidebar-adding__inner {
    padding: 64px 32px;
}

.sidebar-adding__title {
    font-size: 20px;
    font-weight: 600;
}

.sidebar-adding.slided {
    visibility: visible;
    transform: translateX(0px);
}

.sidebar-adding__close {
    position: absolute;
    right: 20px;
    top: 50px;
    height: 30px;
    width: 30px;
    background: var(--light-grey-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.success-adding {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 8px 8px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300px;
    font-weight: 400;
    background: var(--success-color);
    color: var(--white-color);
}

/*----Custom FOrm Adding Issue---*/
.sidebar-adding #trix-toolbar-1 {
    width: 486px;
}

.sidebar-adding ::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}