.user-card:not(:last-child) {
    margin-bottom: 15px;
}

.user-card__avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.user-card__name {
    font-weight: 600;
}