/**************************************
1 - Ruby requires
**************************************/

/*
 *= require simple_calendar
 *= require jquery-ui
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */

/**************************************
2 - Import Typos
**************************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/**************************************
3 - Import Libraries
**************************************/
@import "bootstrap";
@import "chosen";

/**************************************
5 - Global styles
**************************************/

/*--Root datas--*/
:root {
    --white-color: #fff;
    --black-color: #000;
    --border-color: #b0b0b0;
    --light-grey-color: #ebebeb;
    --main-color: #3789c5;
    --dark-color:#133045;
    --error-color: #C44D4B;
    --error-color-rgb: 196, 77, 75;
    --success-color: #509534;
    --success-color-rgb:80, 149, 52;
    --success-dark-color:#3b7025;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: 500;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

a, a:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--black-color);
}

a:hover {
    background: none;
}