/**************************************
1 - Ruby requires
**************************************/

/*
 *= require font-awesome
 *= require simple_calendar
 *= require jquery-ui
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */

/**************************************
2 - Import Typos
**************************************/
/*
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
*/
/**************************************
3 - Import Libraries
**************************************/
@import "bootstrap";
@import "chosen";

/**************************************
5 - Core styles
**************************************/

/*--Root datas--*/
:root {
    --root-color: #000;
    --white-color: #fff;
    --black-color: #000;
    --border-color: #b0b0b0;
    --light-grey-color: #ebebeb;
    --blue-grey-color: #F6F7F9;
    --clear-grey-color:#969696;
    --main-color: #3789c5;
    --dark-color:#133045;
    --dark-color-rgb: 19, 48, 69;
    --error-color: #C44D4B;
    --error-color-rgb: 196, 77, 75;
    --success-color: #509534;
    --success-color-rgb:80, 149, 52;
    --success-dark-color:#3b7025;
    --alert-color: #FFA500;
    --alert-color-rgb: 255,165,0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
}

form input {
    font-family: "Nunito", sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0px;
}

h2 {
    font-size: 25px;
    font-weight: 500;
}

a {
    display: inline-block;
    text-decoration: underline;
    color: var(--main-color);
}

a:hover {
    background: none;
}

/*--------- UL List Style---------*/
ul:not(.no-styles, .chosen-results, .chosen-choices) {
    list-style: none;
    margin: 16px 0;
}

ul:not(.no-styles, .chosen-results, .chosen-choices) li {
    position: relative;
    padding-left: 15px;
}

ul:not(.no-styles, .chosen-results, .chosen-choices) li:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--main-color);
    left: 3px;
    top: 8px;
}

ul:not(.no-styles, .chosen-results, .chosen-choices) li:not(:last-child) {
    margin-bottom: 5px;
}

/*--------- Form Style---------*/
.form-group {
    margin-bottom: 0px;
}

/*--------- Chosen Style---------*/
ul.chosen-results::-webkit-scrollbar {
    width: 4px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid var(--border-color);
}

ul.chosen-results::-webkit-scrollbar-thumb {
    border-radius: 20px;
    width: 4px;
    background-color: var(--main-color);
}

ul.chosen-results li.active-result:hover {
    background: var(--light-grey-color);
    color: var(--root-color);
}

/*--------- Scroll bar style ---------*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--light-grey-color);
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: var(--light-grey-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color);
}

/*--------- Go back row ---------*/
.row.go-back {
    margin-bottom: 50px;
}

.pac-container:after {
    display: none;
}