/*--Root datas--*/
:root {
    --white-color: #fff;
    --black-color: #000;
    --border-color: #b0b0b0;
    --light-grey-color: #ebebeb;
    --main-color: #3789c5;
    --dark-color:#133045;
    --error-color: #C44D4B;
    --success-color: #63B92D;
}

/*--Global Styles--*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

a, a:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--black-color);
}

a:hover {
    background: none;
}

/*--General Classes--*/
.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

/*--Padding and Margin Classes--*/
.p0 {
    padding: 0px;
}

.m0 {
    margin: 0px;
}

/*--Text classes--*/
.txt-error-color {
    color: var(--error-color);
}

.txt-no-decoration, .txt-no-decoration:hover {
    text-decoration: none !important;
}