/*--Root datas--*/
:root {
    --white-color: #fff;
    --black-color: #000;
    --border-color: #b0b0b0;
    --light-grey-color: #ebebeb;
    --main-color: #3789c5;
    --dark-color:#133045;
    --error-color: #C44D4B;
    --success-color: #509534;
    --success-dark-color:#3b7025;
}

/*--Global Styles--*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

a, a:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--black-color);
}

a:hover {
    background: none;
}

/*----------------------------------------
********   Atomic Classes
----------------------------------------*/
/*--Layout--*/
.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

/*--Padding and Margin--*/
.p0 {
    padding: 0px;
}

.p8 {
    padding: 8px;
}

.m0 {
    margin: 0px;
}

/*--Text--*/
.txt-error-color {
    color: var(--error-color);
}

.no-decoration, .no-decoration:hover {
    text-decoration: none !important;
}

/*--Appearance--*/
.shadowed {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
}

.radius5 {
    border-radius: 5px;
}

.v-separator {
    height: 15px;
    width: 1px;
    background: var(--border-color);
    margin: 0 10px;
}

/*--Buttons--*/
.action-btn__add {
    border-radius: 5px;
    padding: 6px 18px;
    color: var(--white-color) !important;
    background: var(--success-color);
    transition: all .3s ease-out;
}

.action-btn__add i {
    margin-right: 8px;
    font-size: 14px;
}

.action-btn__small {
    text-decoration: none;
    font-size: 12px;
    background: var(--light-grey-color);
    border-radius: 2px;
    padding: 2px 6px;
    transition: all .3s ease-out;
}

@media (min-width: 992px) {
    .action-btn__add:hover {
        text-decoration: none;
        background: var(--success-dark-color);
    }

    .action-btn__small:hover {
        text-decoration: none;
        background: var(--light-grey-color);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    }
}