/*--Root datas--*/
:root {
    --main-color: #3789c5;
}

/*--Global Styles--*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:hover {
    background: none;
}

/*--General Classes--*/
.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.mod__heading {
    margin-top: 20px;
    margin-bottom: 40px;
}

.mod__heading h1 {
    color: var(--main-color);
}

/*--Padding and Margin Classes--*/
.p0 {
    padding: 0px;
}

.m0 {
    margin: 0px;
}
